.contentContainer {
  max-width: 1120px;

  height: calc(100vh - 5rem);
  
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;

    margin-top: 2.5rem;
    
    span {
      color: var(--cyan-500);

      margin: 0 1rem;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;

    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }
}

@media (max-width: 720px) {
  .contentContainer {
    height: auto;
    min-height: calc(100vh - 5rem);

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    padding: 3rem 1.25rem;

    > img {
      display: none;
    }
  }

  .hero {
    > span {
      font-size: 1.25rem;
    }

    h1 {
      font-size: 2.75rem;
      line-height: 3rem;

      span {
        margin: 0 0.5rem;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 1.9rem;
    }
  }
}