.signInButton {
  height: 3rem;
  
  border-radius: 3rem;
  
  background: var(--gray-850);

  border: 0;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  font-weight: bold;

  transition: filter 0.2s;

  svg {
    width: 20px;
    height: 20px;

    &:first-child {
      margin-right: 1rem;
    }

    &.closeIcon {
      margin-left: 1rem;
    }
  }

  &:hover {
    filter: brightness(0.8);
  }
}

@media (max-width: 720px) {
  .signInButton {
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 0.8rem;
    white-space: nowrap;

    svg {
      width: 16px;
      height: 16px;

      &:first-child {
        margin-right: 0.5rem;
      }

      &.closeIcon {
        margin-left: 0.5rem;
      }
    }
  }

  .longText {
    display: none;
  }
}